/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
    background: rgb(2,0,0); /* Old browsers */  background: -moz-linear-gradient(top,  rgba(2,0,0,1) 21%, rgba(1,86,142,1) 100%); /* FF3.6+ */  background: -webkit-gradient(linear, left top, left bottom, color-stop(21%,rgba(2,0,0,1)), color-stop(100%,rgba(1,86,142,1))); /* Chrome,Safari4+ */  background: -webkit-linear-gradient(top,  rgba(2,0,0,1) 21%,rgba(1,86,142,1) 100%); /* Chrome10+,Safari5.1+ */  background: -o-linear-gradient(top,  rgba(2,0,0,1) 21%,rgba(1,86,142,1) 100%); /* Opera 11.10+ */  background: -ms-linear-gradient(top,  rgba(2,0,0,1) 21%,rgba(1,86,142,1) 100%); /* IE10+ */  background: linear-gradient(to bottom,  rgba(2,0,0,1) 21%,rgba(1,86,142,1) 100%); /* W3C */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020000', endColorstr='#01568e',GradientType=0 ); /* IE6-9 */;
}

.start{
    -webkit-filter:hue-rotate(260deg);
    filter:hue-rotate(260deg);
    background: #F94545;
    background: -moz-linear-gradient(top, #F94545 0%, #CA2F2F 15%, #ff5c5c 73%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F94545), color-stop(15%,#CA2F2F), color-stop(73%,#ff5c5c));
    background: -webkit-linear-gradient(top, #F94545 0%,#CA2F2F 15%,#ff5c5c 73%);
    background: -o-linear-gradient(top, #F94545 0%,#CA2F2F 15%,#ff5c5c 73%);
    background: -ms-linear-gradient(top, #F94545 0%,#CA2F2F 15%,#ff5c5c 73%);
    background: linear-gradient(to bottom, #F94545 0%,#CA2F2F 15%,#FF5CA0 73%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F94545', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */

}

.rotating10s {
    -webkit-animation: rotating 10s linear infinite;
}

.rotating2s {
    -webkit-animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}