<link rel='stylesheet' href='/stylesheets/m_index.css' />
<a href="#" class="btn page">1</a>
<a href="#" class="btn page">2</a>
<a href="#" class="btn page">3</a>
<a href="#" class="btn page">4</a>

<a href="#" class="btn long-btn" id="fullscreenBtn">Fullscreen</a>

<a href="#" class="btn long-btn" id="closeFullscreenBtn">CloseFullscreen</a>

<a href="#" class="btn long-btn" id="topptBtn">To PPT</a>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/socket.io.js"></script>
<script src="/javascripts/index.js"></script>
    